@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

#following-title {
    margin-bottom: 50px;
    text-align: center;
}

#following-title h4 {
    color: white;
    font-weight: bold;
    font-family: 'Sawarabi Mincho', sans-serif;
    text-shadow: 2px 2px 1px black;
}

#following-users {
    padding: 20px 150px;
    display: flex;
    flex-direction: column;
}

#following-user {
    margin: 5px;
    padding: 10px 10px 5px 10px;
    width: 100%;
    background-color: #d9e5ff;
    display: flex;
    border: dotted 3px #556b2f;
    overflow: hidden;
    box-shadow: 5px 5px 3px black;
    border-radius: 1rem;
}

#following-user a {
    font-family: serif;
    color: #000080;
    text-decoration: none;
}

#following-user a:hover {
    color: #aaaaaa;
}

/* 480px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 480px) {

    #following-users {
        padding: 20px;
    }
    
    #following-user {
        border: dotted 2px #556b2f;
    }
    
    #following-users h4 {
        font-size: 1.2rem;
    }
}