@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

html {
    font-size: 100%;
}

/*body {*/
/*}*/

main {
    min-height: 85vh;
    color: #2b2a27;
    background-image: url(/../floor-1866663_1280.jpg);
    background-color: rgba(255,255,255,0.2);
    background-blend-mode: lighten;
}

footer {
    background-color: white;
    color: black;
    position: absolute;
    width: 100%;
    display: flex;
    padding: 10px;
    height: 60px;
    justify-content: space-between;
    font-family: 'Sawarabi Mincho', sans-serif;
    text-shadow: 2px 2px 1px #bbb;
}

img {
    max-width: 100%;
}

#mobile-size {
    display: none;
}

/*main*/
.visualandText {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
}

#mainvisual img {
    height: auto;
    object-fit: cover;
    object-position: center top;
    filter: grayscale(50%);
    /*border-top: solid;*/
    /*border-bottom: solid;*/
    /*border-color: #808000;*/
    box-shadow: 0 5px 3px black;
}

.mainvisual-left {
    float: left;
    width: 50%;
}

.mainvisual-right {
    float: right;
    width: 50%;
}

.maintext h1 {
    padding-bottom: 50px;
    text-shadow: 2px 2px 0 black;
}

.maintext {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #b6ff01;
    /*color: white;*/
    text-shadow: 2px 2px 0 black;
    font-weight: bold;
    font-size: 1.5vw;
    font-family: 'Sawarabi Mincho', sans-serif;
}

.search {
    text-align: center;
    padding-left: 200px;
    margin-bottom: 70px;
}

.search-form {
    display: inline-block;
    position: relative;
    width: 600px;
}

.search-box {
    height: 30px;
    width: 400px;
    padding-left: 10px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 25px;
    border: solid;
    border-color: #808000;
    outline: none;
    background-color: #eee;
    box-shadow: 5px 5px 3px black;
}

.search-box:hover {
    background-color: #fafae0;
    box-shadow: 0 0 0;
}

.search-box:focus {
    background-color: #fafae0;
    box-shadow: inset 2px 2px 2px 0 #707070;
}

.search-button {
    height: 30px;
    width: 50px;
    position: absolute;
    left: 350px;
    top: 0;
    background-color: #808000;
    color: #fff;
    border: none;
    border-radius: 0 25px 25px 0;
}

.search-button:hover {
    color: #888;
}

.home-recipes {
    margin-top: 70px;
    padding: 20px 100px;
    display: flex;
    flex-wrap: wrap;
    /*align-items: stretch;*/
    /*justify-content: space-between;*/
    justify-content: space-around;
    
}

.home-recipe {
    margin: 5px;
    padding: 5px;
    width: 30%;
    height: 310px;
    overflow: hidden;
    border-radius: 1rem;
    background-color: #fafae0;
    border: dotted 3px #556b2f;
    box-shadow: 5px 5px 3px black;
}

.home-recipe:hover {
    box-shadow: 0 0 0;
    /*background-color: #d0ff43;*/
    opacity: 0.7;
}

.home-recipe a {
    color: black;
    text-decoration: none;
}

.home-recipe img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 1rem;
}

.home-recipe-text {
    padding: 10px;
    text-align: left;
    font-family: serif;
}

.footer-link {
    list-style-type: none;
}

footer a {
    color: black;
    text-shadow: 2px 2px 1px #bbb;
}

/*項目検索*/
.click-search {
    margin: 0 200px 0 200px;
    font-family: 'Sawarabi Mincho', sans-serif;
}

/*ラジオボタン*/
input[type=radio] {
    display: none;
}

.recipe_item {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    position: relative;
    width: auto;
}

.recipe_item::before {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    content: '';
    display: block;
    height: 16px;
    left: 6px;
    margin-top: -7px;
    position: absolute;
    top: 50%;
    width: 16px;
}

.recipe_item::after {
   background: #fedd1e;
    border-radius: 50%;
    content: '';
    display: block;
    height: 10px;
    left: 9px;
    margin-top: -4px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: scale3d(.3,.3,1);
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
    width: 10px;
}

input[type=radio]:checked + .recipe_item::before {
    border-color: #666;
}

input[type=radio]:checked + .recipe_item::after {
    opacity: 1;
    transform: scale3d(1,1,1);
}

.ingredient_title h4 {
    color: #fafae0;
    text-shadow: 2px 2px 1px black;
    font-weight: bold;
    padding-top: 8px;
}

.menue_title h4 {
    color: #ffdbc9;
    text-shadow: 2px 2px 1px black;
    font-weight: bold;
    padding-top: 8px;
}

.search-item {
    border-radius: 1rem;
    background-color: #fafae0;
    border: dotted 3px #556b2f;
    box-shadow: 5px 5px 3px black;
    padding: 20px 20px 0 20px;
    margin-bottom: 0;
}

.click-search li, ul {
    list-style-type: none;
}

#item-detail {
    display: flex;
    /*margin-bottom: 10px;*/
}

#item-detail p {
    width: 100px;
    /*padding-right: 20px;*/
    font-weight: bold;
}

#item-detail ul {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

#item-detail button[type="submit"] {
    width: 110px;
    display: inline-flex;
    justify-content: flex-start;
    background-color: #fafae0;
    border: none;
    padding: 0;
    margin-bottom: 10px;
}

#item-detail button[type="submit"]:hover {
    color: #ffcc33;
}


/* 480px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 480px) {
    #pc-size {
        display: none;
    }
    
    #mobile-size {
        display: inline;
    }
    
    .mainvisual-left {
        display: none;
    }
    
    .mainvisual-right {
        width: 100%;
    }
    
    .maintext h1 {
        font-size: 1.5rem;
    }
    
    .search {
    padding-left: 20px;
    margin-bottom: 100px;
    }
    
    .search-form {
        width: 450px;
    }
    
    .search-box {
        width: 350px;
    }
    
    .search-button {
        width: 40px;
        left: 320px;
    }
   
   .home-recipes {
        margin-top: 100px;
        padding: 0;
    }
    
    .home-recipe {
        width: 45%;
        height: 200px;
         margin: 2px;
        padding: 2px;
    }
    
    .home-recipe img {
        height: 120px;
        margin-bottom: 5px;
    }
    
    .home-recipe-text {
        padding: 5px;
    }
    
    .home-recipe-text h5 {
        font-size: 0.7rem;
    }
    
    .home-recipe-text p {
        font-size: 0.5rem;
    }
    
    footer {
        background-color: white;
        color: black;
        position: absolute;
        width: 100%;
        display: flex;
        padding: 10px;
        height: 120px;
        flex-direction: column;
        font-family: 'Sawarabi Mincho', sans-serif;
        text-shadow: 2px 2px 1px #bbb;
    }
    
    footer p {
        padding-left: 40px;
    }
    
    /*項目検索*/
    .click-search {
        margin: 0 20px;
    }
    
    #recipe-cateogry {
        display: flex;
        border-radius: 1rem;
        box-shadow: 5px 5px 3px black;
        padding: 20px 20px 0 20px;
        justify-content: space-between;
        background-image: url(/../thumb2-white-wooden-planks-macro-white.jpg);
        font-weight: bold;
    }
    
    #recipe-cateogry h4 {
        color: #cc6600;
        text-shadow: 1px 1px 1px black;
    }
    
    #recipe-cateogry ul {
        padding-left: 0;
        padding-top: 10px;
    }
    
    #recipe-cateogry li {
        padding-bottom: 20px;
    }
    
    #recipe-cateogry select {
        width: 120px;
        border-color: #808000;
        border-radius: 0.5rem;
        color: #808000;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        padding: 0 5px;
        height: 25px;
        position: relative;
        background: #cfcedb url(/../icons8-矢印を展開-48.png) no-repeat right 5px center / 10px auto;
    }
    
    #recipe-cateogry select:focus {
        background-color: #808000;
        color: white;
    }
    
    #recipe-cateogry option {
        background-color: #cfcedb;
        color: #808000;
    }
    
    .menu-recipe-cateogry select {
        margin-top: 10px;
    }
}