@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

.search-keyword {
    margin-bottom: 50px;
    text-align: center;
}

.search-keyword h5 {
    color: white;
    font-weight: bold;
    font-family: 'Sawarabi Mincho', sans-serif;
    text-shadow: 2px 2px 1px black;
}

.search-recipes {
    padding: 20px 150px;
    display: flex;
    flex-direction: column;
}

.search-recipe {
    margin: 5px;
    padding: 10px;
    width: 100%;
    background-color: #fafae0;
    display: flex;
    border: dotted 3px #556b2f;
    overflow: hidden;
    box-shadow: 5px 5px 3px black;
    border-radius: 1rem;
}

.search-recipe-text {
    margin: 5px;
    width: 750px;
    padding-left: 10px;
    text-align: left;
    font-family: serif;
}

.search-recipe a {
    color: #556b2f;
    text-decoration: none;
}

.search-recipe a:hover {
    color: #aaaaaa;
}

.recipe-title-nice {
    display: flex;
    justify-content: space-between;
}

.search-recipe img {
    width: 25%;
    height: 180px;
    object-fit: cover;
    border-radius: 1rem;
}

.search-recipe-text .user_name {
    padding-bottom: 5px;
} 


/* 480px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 480px) {
    .search-recipes {
        padding: 20px 20px;
    }
    
    .search-recipe {
        border: dotted 2px #556b2f;
    }
    
    .search-recipe-text {
        margin: 5px;
        width: 400px;
        padding-left: 5px;
        text-align: left;
    }
    
    .recipe-title-nice {
        height: 27px;
    }
    
    .search-recipe-text h3 {
        font-size: 0.8rem;
    }
    
    .search-recipe-text h5 {
        font-size: 0.5rem;
    }
    
    .favorite-marke {
        font-size: 0.5rem;
    }
    
    .search-recipe img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 1rem;
    }
    
    .search-recipe-text .user_name, .search-recipe-text .explanation {
        font-size: 0.6rem;
    }
    
    
}