@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

.show-recipe {
    margin: 50px 150px;
    padding: 20px;
    background-color: #fafae0;
    box-shadow: 5px 5px 3px black;
    font-family: serif;
    border: dotted 3px #556b2f;
    border-radius: 1rem;
}


.recipe-information {
    float: right;
    width: 600px;
    height: 350px;
    margin-bottom: 20px;
}

.show-title {
    display: flex;
    justify-content: space-between;
    /*padding-top: 20px;*/
    margin-bottom: 10px;
    border-bottom: dotted 2px #800000;
}

.recipe-information h3 {
    padding-top: 0;
    font-family: 'Sawarabi Mincho', sans-serif;
}

.nice p {
    padding-right: 50px;
}

.loved {
  color: red !important;
}

.show-user_name {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.show-user_name a {
    color: #556b2f;
    text-decoration: none;
}

.show-user_name a:hover {
    color: #aaaaaa;
}

.show-explanation {
    margin-top: 5px;
    padding: 0.2em 0.5em;
    margin: 2em 0;
    color: #565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 5px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 8px;
}

.recipe-button {
    display: flex;
    justify-content: space-around;
    margin: 25px 50px;
}

.delete span {
    display: inline-block;
    padding: 5px 15px;
    text-decoration: nane;
    color: red;
    border: dashed 1px red;
    border-radius: 3px;
    transition: .4s;
    box-shadow: 3px 3px 5px black;
}

.delete span:hover {
    border-style: dotted;
    color: red;
    background-color: #ffb6c1;
    box-shadow: 0 0 0;
}

.edit a {
    display: inline-block;
    padding: 5px 15px;
    text-decoration: nane;
    color: blue;
    border: dashed 1px blue;
    border-radius: 3px;
    transition: .4s;
    text-decoration: none;
    box-shadow: 3px 3px 5px black;
}

.edit a:hover {
    border-style: dotted;
    color: blue;
    background-color: #f2fcff;
    box-shadow: 0 0 0;
}

.show-recipe img {
    width: 380px;
    margin-right: 20px;
    height: 350px;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 1rem;
    border: solid;
    border-color: #556b2f;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tags button {
    display: inline-block;
    margin: 0 .1em .6em 0;
    padding: 5px;
    margin: 3px;
    text-decoration: nane;
    color: #228b22;
    background-color: #ffefd5;
    border: 1px solid #228b22;
    border-radius: 2em;
    box-shadow: 3px 3px 5px black;
    font-weight: bold;
}

.tags button:before {
    content: "#";
}

.tags button:hover {
    background-color: #bfbc8f;
    box-shadow: 0 0 0;
}

.cook-recipe {
    display: flex;
    justify-content: flex-start;
}

.ingredients h4 {
    border-bottom: dotted 2px #800000;
    padding-bottom: 5px;
}

.ingredients-detail {
    margin: 10px 50px;
    display: flex;
    width: 300px;
    justify-content: space-between;
    color: #aa0000;
}


.how_to_cook {
    margin-left: 100px;
}

.how_to_cook h4 {
    border-bottom: dotted 2px #800000;
    width: 500px;
    padding-bottom: 5px;
}

.point {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 2px #800000;
    border-radius: 8px;
}

.point #point {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #fafae0;
    color: #800000;
    font-weight: bold;
}

.point .point p {
    margin: 0; 
    padding: 0;
}

.meneu-review {
    margin-top: 100px;
}

.review-link {
    text-align: right;
}

.review-link a {
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    color: #999999;
}

.review-link a:hover {
    color: black;
}

/* 480px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 480px) {

    .show-recipe {
        margin: 20px 20px;
        padding: 10px;
    }
    
    .recipe-information {
        float: none;
        width: auto;
        height: auto;
        margin-bottom: 20px;
    }
    
    .show-title {
        display: flex;
        justify-content: space-between;
        padding-top: 0;
        height: 30px;
        margin-bottom: 10px;
    }
    
    .show-title h3 {
        font-size: 1.2rem;
    }
    
    .nice p {
        padding-right: 0;
    }
    
    .show-user_name {
        margin-bottom: 10px;
    }
    
    .show-user_name h5 {
        font-size: 1rem;
    }
    
    .show-user_name p {
        font-size: 0.6rem;
    }    
        
    .show-explanation {
        margin-top: 0;
    }
    
    .recipe-button {
        display: flex;
        justify-content: space-around;
        margin: 15px 25px;
    }
    
    .recipe-button h5 {
        font-size: 0.8rem;
    }
    
    .tags button {
        font-size: 0.6rem;
    }
    
    .show-recipe img {
        width: 100%;
        height: 200px;
    }
    
    .cook-recipe {
        display: block;
    }
    
    .ingredients h4, .how_to_cook h4, .point h4 {
        font-size: 1rem;
    }
    
     .ingredients p, .how_to_cook p, .point p {
        font-size: 0.8rem;
    }
    
    .ingredients-detail {
        margin: 5px 20px;
        width: 200px;
    }
    
    .how_to_cook {
        margin-left: 0;
    }
    
    .meneu-review h4 {
        font-size: 1rem;
    }
    
    .review-link a {
        font-size: 0.7rem;
    }
}
